<!-- Ca va que le menu est beau -->
<!-- Header -->
<header id="header" class="reveal">
    <div class="logo">
        <a href="/">
            <span>Les Hérissons</span>
            <span class="byca">
                <img src="/images/byca.png">
            </span>
        </a>
    </div>
    <a href="#menu" class="toggle">
        <span>Menu</span>
    </a>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li>
                <a href="/fonctionnement">Fonctionnement</a>
            </li>
            <li>
                <a href="/apropos">A propos</a>
            </li>
            <li>
                <a href="/faq">FAQ</a>
            </li>
            {{#if user}}
            <li>
                <a href="/dashboard">Tableau de bord</a>
            </li>
            <li>
                <a href="/users/logout">Se déconnecter</a>
            </li> {{else}}
            <li>
                <a href="/users/login">Se connecter</a>
            </li>
            <li>
                <a href="/users/register">Créer un compte</a>
            </li> {{/if}}
        </ul>
    </nav>
</header>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-59783892-1"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPlERwfPhxaGfnTWkO3G2J6bKtuaj5NQg&libraries=places"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-59783892-1');
</script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>