<html>

<head>
	<title>Les Hérissons by CA</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/main.css" />
</head>

<body>
	{{> menu }}

	<section id="one" class="wrapper style2">
		<div class="inner">
			<div>
				<div id="services" class="box">
					<div class="content">
						<div class="row">
							<div class="col-lg-12">
								{{#if success_msg}}
								<div class="alert alert-success">{{success_msg}}</div>
								{{/if}} {{#if error_msg}}
								<div class="alert alert-danger">{{error_msg}}</div>
								{{/if}} {{#if error}}
								<div class="alert alert-danger">{{error}}</div>
								{{/if}} {{{body}}}
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>

	<!-- Footer -->
	<footer id="footer" class="footer">
		<div class="inner">
			<div class="copyright">
				2017 - Fait avec
				<span style="color:red;">&hearts;</span> par des hérissons (apprivoisés...)
			</div>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.scrolly.min.js"></script>
	<script src="/js/jquery.scrollex.min.js"></script>
	<script src="/js/skel.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/main.js"></script>

</body>

</html>