<h2 class="page-header">A propos</h2>

<p><span>Chez Lesherissons, nous sommes une agence de petite taille spécialisé dans les ventes entre particuliers, nous disposons de réels experts dynamiques tels que : </span>

<p>
<span>- Valentin Ernouf</span><br>
<span>- Richard Montoux</span><br>
<span>- Corentin Moreau</span><br>
<span>- Yann Tendé</span><br>
<span>- Kévin Vibert</span><br>
</p>
<p>Le but de ce site est de vous aider à sécuriser vos ventes en ligne, entre particuliers.</p>