<!-- Ca va qu'il y a nos tronches sur cette page -->
<h2 class="page-header">A propos</h2>

<p><span>Le service Les Hérissons by CA a été initié par une équipe de petite taille spécialisée dans les ventes entre particuliers, les experts à l'initiative de ce projet sont : </span>

<div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2 col-sm-12">
            <br>
            <img style="width:100%;"src="/images/valentin.jpg" class="rounded-circle">
            <p class="text-center">Valentin Ernouf</p>
        </div>
        <div class="col-md-2 col-sm-12">
            <br>
            <img style="width:100%;"src="/images/richard.jpg" class="rounded-circle">
            <p class="text-center">Richard Montoux</p>
        </div>
        <div class="col-md-2 col-sm-12">
            <br>
            <img style="width:100%;"src="/images/corentin.jpg" class="rounded-circle">
            <p class="text-center">Corentin Moreau</p>
        </div>
        <div class="col-md-2 col-sm-12">
            <br>
            <img style="width:100%;"src="/images/yann.jpg" class="rounded-circle">
            <p class="text-center">Yann Tandé</p>
        </div>
        <div class="col-md-2 col-sm-12">
           <br>
            <img style="width:100%;"src="/images/kevin.jpg" class="rounded-circle">
           <p class="text-center">Kévin Vibert</p>
        </div>
        <div class="col-md-1 col-sm-12"></div>
</div>

<br><br>
<p>Le but de ce site est de vous aider à sécuriser transactions en particuliers lorsque vous achetez ou vendez des objets par correspondance.</p>