<h2 class="page-header">A propos</h2>

<p><span>Chez Lesherissons, nous sommes une agence de petite taille spécialisé dans les ventes entre particuliers, nous disposons de réels experts dynamiques tels que : </span>

<div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2 col-sm-12">
            <br>
            <img style="width:100%;"src="/images/valentin.jpg" class="rounded-circle">
            <p class="text-center">Valentin Ernouf</p>
        </div>
        <div class="col-md-2 col-sm-12">
            <br>
            <img style="width:100%;"src="/images/richard.jpg" class="rounded-circle">
            <p class="text-center">Richard Montoux</p>
        </div>
        <div class="col-md-2 col-sm-12">
            <br>
            <img style="width:100%;"src="/images/corentin.jpg" class="rounded-circle">
            <p class="text-center">Corentin Moreau</p>
        </div>
        <div class="col-md-2 col-sm-12">
            <br>
            <img style="width:100%;"src="/images/yann.jpg" class="rounded-circle">
            <p class="text-center">Yann Tandé</p>
        </div>
        <div class="col-md-2 col-sm-12">
           <br>
            <img style="width:100%;"src="/images/kevin.jpg" class="rounded-circle">
           <p class="text-center">Kévin Vibert</p>
        </div>
        <div class="col-md-1 col-sm-12"></div>
</div>

<br><br>
<p>Le but de ce site est de vous aider à sécuriser vos ventes en ligne, entre particuliers.</p>