<!-- Ca va que le dashboard est fini -->
<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>

<a href="/ventes/new">
    <button class="btn btn-primary">Créer une nouvelle vente</button>
</a>

{{#each ventes}}
<div class="card">
    <div class="card-block">
        <p>Vente crée le {{this.createdAt}}</p>
        <p>Montant de la vente {{this.montantTotal}}€</p>
        <a href="/ventes/{{this.url}}" class="card-link">Voir la vente</a>
    </div>
</div>
<br> {{/each}}