<!-- Ca va qu'on explique comment ça fonctionne -->
<h2 class="page-header">Le fonctionnement du service</h2>

<p><span>Lorsqu'une vente entre particulier doit être effectué, il est souvent difficile de s'assurer que la vente va bien avoir lieu si elle se déroule à distance.</span><br>
<span>Il est bien spécifié que cela ne concerne que des colis avec suivi.</span>
</p>

<p>Vous devrez au préalable créer un compte pour utiliser les services de Leshérissons</p>

<h3>Comment se passe une vente</h3>

<p>

<span>- Tout d'abord vous devez cliquez sur le bouton pour "créer une vente", ceci est possible sur notre site ou notre application</span><br>

<span>- Une fois les informations de votre vente spécifié avec l'adresse e-mail de l'acheteur, un mail lui sera envoyé.<span><br>

<span>- Le mail contient un lien permettant à l'acheteur de rentrer ses informations.</span><br>

<span>- Si le vendeur et l'acheteur valide les informations, la vente peut avoir lieu.</span><br>

<span>- Si vous êtes nouveau client, une vérification des informations peut avoir lieu par notre part.</span><br>

<span>- L'acheteur paye la somme demandé</span><br>

<span>- L'argent est stocké sur Lesherissons en attendant que le colis soit bien livré, l'argent n'appartient donc pas au vendeur à ce moment.</span><br>

<span>- Le vendeur à 2 jours pour spécifier le numéro de suivi du colis sur le site. S'il n'est pas spécifié, la vente est annulé.</span><br>

<span>- Lorsque le livreur indique que le statut de la commande est livré, le vendeur est payé</span><br>

<span>- Si la commande n'est pas conforme, veuillez contacter notre service client qui vous aidera dans la démarche à adopter</span><br>

<span>- Après que la commande soit validé, vous pouvez noter l'utilisateur.</span>



</p>
