<html>

<head>
	<title>Les Hérissons by CA</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/main.css" />
</head>

<body>

	{{> menu }}

	<div class="alert_banner" style="bottom:0;">Attention, ce site est fictif et créé à l'occasion d'un projet de l'école EPSI et en partenariat avec le Crédit Agricole.
		Le contenu de ce site n'a aucun lien direct avec le Crédit Agricole.</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="alert_banner" aria-hidden="true">
		<div class="modal-dialog" role="document" style="top:20%!important">
			<div class="modal-content">
				<div class="modal-body" style="background-color:rgba(211, 47, 47, 1); color:white">
					Attention, ce site est fictif et créé à l'occasion d'un projet de l'école EPSI et en partenariat avec le Crédit Agricole.
					Le contenu de ce site n'a aucun lien direct avec le Crédit Agricole.
				</div>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>

	<section id="banner" data-video="/videos/lesherissons">
		<div class="inner">
			<p>Parce que l'insécurité dans les paiements entre particuliers, ça pique !</p>
			<a href="/services" class="button special scrolly">Je découvre le service</a>
		</div>
	</section>

	<!-- Scripts -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.scrolly.min.js"></script>
	<script src="/js/jquery.scrollex.min.js"></script>
	<script src="/js/skel.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/tether.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script>
		$('#myModal').modal('show')
	</script>

</body>

</html>