<html>
<!-- Ca va que la vie est belle -->
<head>
	<title>Les Hérissons by CA</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="/images/lesherissons.ico" />
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/main.css" />
</head>

<body>

	{{> menu }}

	{{!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="alert_banner" aria-hidden="true">
		<div class="modal-dialog" role="document" style="top:20%!important">
			<div class="modal-content">
				<div class="modal-body" style="background-color:rgba(211, 47, 47, 1); color:white">
					Attention, ce site est fictif et créé à l'occasion d'un projet de l'école EPSI et en partenariat avec le Crédit Agricole.
					Le contenu de ce site n'a aucun lien direct avec le Crédit Agricole.
				</div>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div> --}}

	<section id="banner">	
		<video id="lhmp4" width="100%" height="100%" src="/videos/lesherissons.mp4" frameborder="0"></video>
		<a href="#" id="close" class="button special scrolly">X</a>	
		<div class="inner">	
			<a href="#" id="video" class="button special scrolly">Je découvre le service</a>
			{{!-- <button id="video" class="button special scrolly">Je découvre le service</button> --}}
		</div>
	</section>

	<!-- One -->
	<section id="one" class="wrapper style2">
		<div class="inner">
			<div>
				<div class="box">
					<div class="image fit side-crop">
						<img src="images/83.jpg" alt="" />
					</div>
					<div class="content">
						<header class="align-center">
							<h1>Un service clé en main</h1>
							<p>pour effectuer vos transactions entre particuliers en toute sécurité</p>
						</header>
						<hr />
						<h3 class="centered_content"> Vous achetez ou vendez régulièrement sur des sites de vente de particuliers à particuliers ? <br>Nous avons une solution simple pour
                            payer ou vous faire payer en toute sécurité ! </h3>
                            
                            <p class="centered_content">Le service <strong>Les Hérissons</strong> vous permet de sécuriser vos transaction entre particuliers.</p>
					</div>
                    
                    <section id="two" class="wrapper style3">
                        <div class="inner">
                            <div id="flexgrid">
                                <div>
                                    <header>
                                        <h3>Moderne</h3>
                                    </header>
                                    <p>Pensé et conçu avec de nouvelles technologies avancées.</p>
                                </div>
                                <div>
                                    <header>
                                        <h3>Simple & Rapide</h3>
                                    </header>
                                    <p>Une interface intuitive qui ne vous demande que le nécessaire. Vous gagnez du temps !</p>
                                    <a href="/fonctionnement"><button type="button" class="btn btn-success" data-dismiss="modal">Je découvre le service</button></a>
                                </div>
                                <div>
                                    <header>
                                        <h3>Sécurisé</h3>
                                    </header>
                                    <p>Des transactions sécurisées en toutes circonstances.</p>
                                </div>
                            </div>
                        </div>
                    </section>
				</div>
                
			</div>
		</div>
	</section>

	<footer id="footer" class="footer">
		<div>
			<div class="copyright">
				2017 - Fait avec
				<span style="color:red;">&hearts;</span> par des hérissons (apprivoisés...)
			</div>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.scrolly.min.js"></script>
	<script src="/js/jquery.scrollex.min.js"></script>
	<script src="/js/skel.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/tether.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script>
		//$('#myModal').modal('show');
		$("#video").on('click', function(){	
			$("#lhmp4").css('overflow','visible');				
			$("#lhmp4").css('opacity','1');
			$("#video").css('display','none');
			$('#lhmp4').get(0).play();
			$('#close').css('overflow','visible');
			$('#close').css('opacity','1');
			setTimeout(function(){
				$("#lhmp4").css('opacity','0');
				$('#lhmp4').css('overflow','hidden');
				$("#video").css('display','block');
				$('#close').css('overflow','hidden');
				$('#close').css('opacity','0');
			}, 51000);
			

		});
		$("#close").on('click', function(){
			$('#lhmp4').get(0).pause();
			$("#lhmp4").css('opacity','0');
			$('#lhmp4').css('overflow','hidden');
			$("#video").css('display','block');
			$('#close').css('overflow','hidden');
			$('#close').css('opacity','0');	
		});
	</script>

</body>

</html>